// The theme builds upon my Milligramme-Noir-EnBlanc theme.

// overrides come before the inclusion.
// $color-secondary: #404C56 !important; merged upstream

@import "../../node_modules/milligramme-noir-enblanc/src/milligramme-noir-enblanc.sass";


$colour-primary: $color-primary;
$colour-secondary: $color-secondary;
$colour-tertiary: $color-tertiary;
$colour-quaternary: $color-quaternary;
$colour-quinary: $color-quinary;

@import "../lib/_font-unfading";

@import "../pieces/_basics";
@import "../pieces/_homepage";
@import "../pieces/_layout";
@import "../pieces/_forms";
