<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ config.title }}</title>

		<link rel="stylesheet" type="text/css" href="{{ config.docroot }}static/entry.css">

		{% block extra_head %}{% endblock %}
	</head>
	<body>

		<main class="wrapper">
			
			<header class="header">
				<section class="container">
					<h1 class="title">{{ config.title }}</h1>
					<span class="slightly-bad-motto">{{ config.subtitle }}</span><br>
					<!---<a href="#"></a>-->
				</section>
			</header>
			
			<div class="content">
				
				<h2>For existing members</h2>
				
				<div class="row">
					<div class="column project fill-v">
						<div>
							<h3>Server Status</h3>
							<p>I can't tell you whether the server is online, yet.</p>
							<i>Coming Soon™</i>
						</div>
					</div>
					
					<div class="column project fill-v">
						<div>
							<h3><a href="{{ config.docroot }}registration/invite">Invite a Member to the Server</a></h3>
							<p>Find the instructions for inviting new members here.</p>
						</div>
					</div>
				</div>
				
				<h2>For new members</h2>
				
				<div class="row">
					<div class="column project fill-v">
						<div>
							<h3><a href="{{ config.docroot }}registration">Register on the Server</a></h3>
							<p>In order to register, you will need to be given an invitation code from an existing member.</p>
						</div>
					</div>
					
					<div class="column project fill-v">
						<div>
							<h3><a href="{{ config.docroot }}get_connected">Get Connected</a></h3>
							<p>Look here for pointers on how to connect.</p>
						</div>
					</div>
				</div>
				
			</div>

			<footer class="footer">
				The {{ config.title }} Operator(s), {{ config.copy_year }}. Theme: <i>Milligramme-Noir-EnBlanc</i>. See credits <a href="{{ config.docroot }}credits">here</a>.
			</footer>
		
		</main>
		
	</body>
</html>
