{% set page_title = "Credits" %}
{% extends "page.html" %}

{% block page_content %}

<div class="content">
	<h2>Get Connected</h2>
	
	<h3>Information you'll need</h3>
	
	<ul>
		<li>
			Your FULL user ID, e.g. @ford.prefect:{{ config.mxid_domain }}
		</li>
		<li>
			Your password
		</li>
	</ul>
	
	<h3>Information you will <strong>NOT</strong> need, and can not be used to log in:</h3>
	
	<ul>
		<li>
			Your e-mail address
		</li>
		<li>
			Your phone number
		</li>
	</ul>
	
	<h3>Recommendation to use Encryption</h3>
	
	<p>Once you are connected, please consider using end-to-end encryption in your private rooms, so that the server operator absolutely cannot read your messages, even if the operator was evil.</p>
	
	<h3>Current Software Recommendations</h3>
	
	<div class="row">
		<div class="column project fill-v">
			<div>
				<h4>In your web browser</h4>
				<p>Try <a href="https://riot.im/app/">Riot.im/Web</a></p>
				<i>Log in with your FULL user ID.</i>
			</div>
		</div>
		
		<div class="column project fill-v">
			<div>
				<h4>On your desktop or laptop computer</h4>
				<p>Try <a href="https://about.riot.im/downloads/">Riot.im/Desktop</a> or <a href="https://riot.im/app/">Riot/Web</a></p>
				<i>Log in with your FULL user ID.</i>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="column project fill-v">
			<div>
				<h4>On your Android phone or tablet</h4>
				<p>Try Riot.im/Android from <a href="https://f-droid.org/en/packages/im.vector.alpha/">F-Droid</a> or <a href="https://play.google.com/store/apps/details?id=im.vector.alpha"><i>Google Play</i></a></p>
				<i>Log in with your FULL user ID. If asked to 'Autocomplete Server Options', accept. Reject requests to access your contacts.</i>
				<p><small>Choose F-Droid if you want a direct APK download or do not have Google Play Services.</small></p>
			</div>
		</div>
		
		<div class="column project fill-v">
			<div>
				<h4>On your iPhone or iPad</h4>
				<p>Try Riot.im/iOS from <a href="https://itunes.apple.com/us/app/vector.im/id1083446067"><i>the Apple App Store</i></a></p>
				<i>Log in with your FULL user ID. If asked to 'Autocomplete Server Options', accept. Reject requests to access your contacts.</i>
			</div>
		</div>
	</div>
</div>
		
{% endblock page_content %}
