<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{{ page_title }} — {{ config.title }}{% endblock title %}</title>

		<link rel="stylesheet" type="text/css" href="{{ config.docroot }}static/entry.css">

		{% block extra_head %}{% endblock %}
	</head>
	<body>

		<main class="wrapper">
			
			<header class="header">
				<nav class="navigation">
					<a class="plain-anchor" href="{{ config.docroot }}">{{ config.title }}</a>
					
					<div class="spacer"></div>
					
					<ul class="places">
						{% block places_mid %} {% endblock places_mid %}
					</ul>
					
					<div class="spacer"></div>
					
					<ul class="places">
						{% block places_right %} {% endblock places_right %}
					</ul>
				</nav>
			</header>
			
			<div class="content">
				{% block page_content %}
				
				{% endblock %}
			</div>

			<footer class="footer">
				The {{ config.title }} Operator(s), {{ config.copy_year }}. Theme: <i>Milligramme-Noir-EnBlanc</i>. See credits <a href="{{ config.docroot }}credits">here</a>.
			</footer>
		
		</main>
		
	</body>
</html>
