{% set page_title = "Registration Failed" %}
{% extends "page.html" %}

{% block page_content %}
	<section class="container">
		<h1>Registration Error</h1>
		<p>
			There was an internal error whilst registering your account. <b>This is probably not your fault.</b><br>
			<b>It's possible that your account has been partially registered, so you may still wish to try logging in.</b>
		</p>
		<p>
			<h2>Specific Details</h2>
			{{ error }}
		</p>
		<p>
			<h2>What To Do</h2>
			{{ config.internal_error }}
		</p>
	</section>
{% endblock page_content %}
