{% set page_title = "Registration" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>New Member Registration</h1>
	<p>
		In order to register, you will need a current member to give you an invitation key.
	</p>
	<h2>Please note the following:</h2>
	<ul>
		<li><strong>Please</strong> consider using a user ID that is not actually related to your real name or other personal information.</li>
		<li><strong>Please</strong> remember your password, writing it down in a safe place if necessary.</li>
	</ul>
	<p>
		
		
		
		<form method="POST" class="narrow hcentre-margin">
			<fieldset>
				{{ form.invite_key.label() }}
				{{ form.invite_key(placeholder="Apple 42 Banana") }}
				{% if form.invite_key.errors %}
					<ul class="form-errors">{% for error in form.invite_key.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				
				{{ form.username.label() }}
				<div class="hbox">
					<div class="input-text-side prefix">@</div>					
					<div class="hbox-fill">
						{{ form.username(placeholder="ford.prefect", class="input-suffixed input-prefixed") }}
					</div>
					<div class="input-text-side suffix">:{{ config.mxid_domain }}</div>
				</div>
				{% if form.username.errors %}
					<ul class="form-errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				<p>
					Please use a secure passphrase, distinct from any you use elsewhere. You could try one of the secure, randomly-generated ones below:
					<ul>
						{% for passphrase_suggestion in passphrase_suggestions %}
							<li>{{ passphrase_suggestion }}</li>
						{% endfor %}
					</ul>
				</p>
				
				{{ form.password.label() }}
				{{ form.password(placeholder = "DON'T PANIC") }}
				{{ form.password_again.label() }}
				{{ form.password_again(placeholder = "DON'T PANIC") }}
				{% if form.password.errors %}
					<ul class="form-errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				<p>Please remember and <u>take note</u> of your password. It can only be reset by the server operator, unless you configure an e-mail address later.</p>
				
				<button type="submit">
					Register
				</button>
			</fieldset>
		</form>
		
	</p>
{% endblock page_content %}
