{% set page_title = "Welcome a Member to the Server" %}
{% extends "page.html" %}

{% block page_content %}
	<section class="container">
		<h1>Inviting a new Member to the Server</h1>
		<p>
			Please be mindful of who you invite.
		</p>
		<p>
			<h2>Get an Invitation Key</h2>
			<p>Send the message <code>get invitation key</code> to the server's friendly bot, <a href="https://matrix.to/#/@{{ bot_username }}:{{ config.mxid_domain }}">@{{ bot_username }}:{{ config.mxid_domain }}</a>.</p>
			<p>The bot should respond with an invitation key. Give this invitation key to the new member.</p>
			<p>Direct the member to this website.</p>
		</p>
		<p>
			<h2>Note</h2>
			<p>Your matrix ID will be associated with your invitation key.</p>
		</p>
	</section>
{% endblock page_content %}
