
html, body
	height: 100%;

.header .container
	padding: 5em;
	text-align: center;

.header nav.navigation
	padding: 0.4em 2em 0.4em 2em;
	
	border-bottom: .1em solid $colour-tertiary;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	width: 100%;
	
	& div.spacer
		flex: 1
	
	& ul.places
		
		margin-bottom: 0;
		
		& > li
			list-style: none;
			margin-bottom: 0;
		

.slightly-bad-motto
	font-size: 1.5em;
	font-style: italic;
	opacity: 0.8;
	
.wrapper
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;

	& .content
		flex: 1;

footer.footer
	padding: 1em 2em 1em 2em;

.content
	padding: 2em 4em 2em 4em;
	
	
.fill-v
	display: flex !important;
	flex-direction: column;
	
	& > *
		flex: 1;
