.form-errors > li
	font-size: 1.1em;
	padding: 1em;
	border-bottom: 1px solid #d15555;

input.input-prefixed
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	
input.input-suffixed
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

.input-text-side
	/* height: 3.8rem; */
	line-height: 1.15;
	vertical-align: middle;
	color: $colour-secondary;
	background-color: $colour-tertiary;
	padding: 0.6rem 1rem 0.6rem 1rem;
	border: 0.1rem solid $colour-quaternary;
	margin-bottom: 1.5rem;
	
	&.prefix
		border-top-left-radius: 1.6rem;
		border-bottom-left-radius: 1.6rem;
		
	&.suffix
		border-top-right-radius: 1.6rem;
		border-bottom-right-radius: 1.6rem;
